<div class="modal hide">
    <div class="modal__header">
        <i class="fas fa-map-marker-alt"></i>
        <div class="modal__header--title">{{ address }}</div>
        <i class="fas fa-times"></i>
    </div>
    <div class="modal__review">
        <ul class="review__list">
            {{> './items.hbs'}}
        </ul>
    </div>
   
    <form class="review-form">
        <h2 class="review-form__title">ВАШ ОТЗЫВ</h2>
        <input type="hidden" id="address">
        <input type="hidden" id="coords">   
        <input type="text" class="review-form__input review-form__input--name" placeholder="Ваше имя">
        <input type="text" class="review-form__input review-form__input--place" placeholder="Укажите место">
        <textarea class="review-form__textArea" placeholder="Поделитесь впечатлениями"></textarea>
        <div class="review-form__addBtn">
            <button class="review-form__addBtn--add">Добавить</button>
        </div>
    </form>
</div>

<div id="map"></div>