<div class="modal">
    <div class="modal__header">
        <div class="modal__header--title"><i class="fas fa-map-marker-alt"></i>Adress</div>
        <i class="fas fa-times"></i>
    </div>
    <div class="modal__review">
        <ul class="review__list">
            <li class="review__item">
                <div class="review__item-top">
                    <div class="review__item-top--name">sveta</div>
                    <div class="review__item-top--place">bank</div>
                    <div class="review__item-top--place">12.12.12</div>
                </div>
                <div class="review__item-bottom">
                    <div class="review__item-bottom--content">some textdassss sssssss ssss ssssssssss sssssssssss ssssssssssssssssss ssssssssssssssssssssss</div>
                </div>
            </li>
            <li class="review__item">
                <div class="review__item-top">
                    <div class="review__item-top--name">sveta</div>
                    <div class="review__item-top--place">bank</div>
                    <div class="review__item-top--place">12.12.12</div>
                </div>
                <div class="review__item-bottom">
                    <div class="review__item-bottom--content">some text</div>
                </div>
            </li>
            <li class="review__item">
                <div class="review__item-top">
                    <div class="review__item-top--name">sveta</div>
                    <div class="review__item-top--place">bank</div>
                    <div class="review__item-top--place">12.12.12</div>
                </div>
                <div class="review__item-bottom">
                    <div class="review__item-bottom--content">some text</div>
                </div>
            </li>
            <li class="review__item">
                <div class="review__item-top">
                    <div class="review__item-top--name">sveta</div>
                    <div class="review__item-top--place">bank</div>
                    <div class="review__item-top--place">12.12.12</div>
                </div>
                <div class="review__item-bottom">
                    <div class="review__item-bottom--content">some text</div>
                </div>
            </li>
            <li class="review__item">
                <div class="review__item-top">
                    <div class="review__item-top--name">sveta</div>
                    <div class="review__item-top--place">bank</div>
                    <div class="review__item-top--place">12.12.12</div>
                </div>
                <div class="review__item-bottom">
                    <div class="review__item-bottom--content">some text</div>
                </div>
            </li>
        </ul>
    </div>
   
    <form class="review-form">
        <h2 class="review-form__title">ВАШ ОТЗЫВ</h2>
        <input type="text" class="review-form__input review-form__input--name" placeholder="Ваше имя">
        <input type="text" class="review-form__input review-form__input--place" placeholder="Укажите место">
        <textarea class="review-form__textArea" placeholder="Поделитесь впечатлениями"></textarea>
        <div class="review-form__addBtn">
            <button class="review-form__addBtn--add">Добавить</button>
        </div>
    </form>
</div>

<div id="map"></div>