//*********************************************
//		Fonts
//*********************************************
$main-font: "Fira Sans", Helvetica, sans-serif, arial;

//*********************************************
//		Colors
//*********************************************
$background: #999999;
$orange: #ff8663;
$lightGray: #c4c4c4;
$darkGray: #9f9f9f;
$textColor: #4f4f4f;

//*********************************************
//		Sizes
//*********************************************
